.listing-card {

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);

    transition:0.3s;

    height:100%;

}



.listing-card:hover {

    transform:translateY(-5px);

    box-shadow:
    0 15px 35px rgba(0,0,0,0.12);

}





.listing-image {

    height:180px;

    background:#f1f3f5;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:70px;

}





.listing-content {

    padding:20px;

}





.listing-content h5 {

    font-weight:700;

    margin-bottom:10px;

}





.listing-category {

    color:#198754;

    font-weight:600;

}





.listing-content p {

    margin-bottom:8px;

    color:#6c757d;

}



.listing-content span {

    color:#212529;

    font-weight:500;

}